

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize fw-bold purpleText">Admin Menu</h1>
        <h2 class="mainSubtitle purpleText">Here are some admin options</h2>
    </div>
    <a class="btn btn-primary" style="float: none; background-color: mediumpurple" asp-area="" asp-controller="Admin" asp-action="CountryList">Countries</a>
    <br />
    <a class="btn btn-primary" style="float: none; background-color: mediumpurple" asp-area="" asp-controller="Admin" asp-action="CityList">Cities</a>
    <br />
    <a class="btn btn-primary" style="float: none; background-color: mediumpurple" asp-area="" asp-controller="Admin" asp-action="FlightList">Flights</a>

    <br /><br />

</div>