@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

@model Flight

<div class="text-center container">
    <h1>Create a flight</h1>

    <form method="post" asp-controller="Admin" asp-action="CreateFlight" class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 alert-light col-4">

        <div asp-validation-summary="All"></div>

        <input type="date" style="accent-color: mediumpurple" asp-for="DepartureDate"
               placeholder="Choose departure point" />
        <br />
        <span asp-validation-for="DepartureDate" class="text-danger"></span>

        <br />

        <input type="time" style="accent-color: mediumpurple" asp-for="DepartureTime"
               placeholder="Choose destination" />
        <br />
        <span asp-validation-for="DepartureTime" class="text-danger"></span>



        <label>Select Departure Point:</label>
        <select asp-for="LocationFrom" asp-items="ViewBag.CityList" class="form-control">
            <option value="">Select a City</option>
        </select>
        <span asp-validation-for="LocationFrom" class="text-danger"></span>



        <label>Select Destination:</label>
        <select asp-for="LocationTo" asp-items="ViewBag.CityList" class="form-control">
            <option value="">Select a City</option>
        </select>
        <span asp-validation-for="LocationTo" class="text-danger"></span>

        <br />


        <button class="btn alert-primary mt-1 purpleButton whiteText" type="submit">Create Flight</button>
        <a asp-controller="Admin" asp-action="FlightList" class="btn btn-secondary" style="width:150px">
            Back to Menu
        </a>
    </form>

</div>