<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize fw-bold purpleText">User Menu</h1>
        <h2 class="mainSubtitle purpleText">Here are some user options</h2>
    </div>
    <a class="btn btn-primary" style="float: none; background-color: mediumpurple" asp-area="" asp-controller="User" asp-action="SearchFlight">Search Flight</a>
    <br />
    <a class="btn btn-primary" style="float: none; background-color: mediumpurple" asp-area="" asp-controller="User" asp-action="SearchPNR">PNR</a>

    <br /><br />

</div>